/* Colors
CE2D4F : Red
BD3364 : Raspberry
AB3879 : Fuschia
8742A2 : Purple
4056F4 : Indigo
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .catchphrase{
        font-style:italic;
        color: black !important;
        font-size:12px;
        font-weight:100;
        display: inline-block;
    }
    *{
        padding:0;
        margin:0;
    }
    body{
        font-family: 'Roboto', sans-serif;
        /* min-width: 410px; */
    }
    .header {
        padding:1%;
        margin: 1%;
    }
    .header-background{
        background-image: linear-gradient(to right, #CE2D4F, #8742A2);
        color:white;
        padding-top: 14px;
        height: 40px;
    }
    .fire-img{
        height: 35px;
        width: 35px;
    }
    #map{
        position: absolute;
        bottom: 0;
        width:100%;
        height:85%;
    }
    h2 {
        font-weight: normal !important;
    }
    .check-in-button, .find-shelter-button,.shelter-reg-button, .map-page-button{
        background-color: #CE2D4F;
        border: none;
        color: white;
        padding: 1px 2px;
        margin: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 5px;
        width: 100px;
        height: 40px;
    }
    .check-in-button{
        background-color: #CE2D4F;
        border: #99203a solid;
    }
    .find-shelter-button{
        background-color: #BD3364;
        border: #992850 solid;
    }
    .shelter-reg-button{
        background-color: #AB3879;
        border: #8a2c61 solid;
    }
    .map-page-button {
        background-color: #8742A2;
        border: #5f2d73 solid;
    }
    .statusButtons{
        width: 100%;
        border-radius:10px;
        padding: 10px;
        color: black;
        font-size:15px;
        background-color: white;
        margin-top:5px;
    }
    .safe{
        border-color: #4056F4;
        border-width: 2px;
    }
    .warning{
        border-color: #8742A2;
        border-width: 2px;
    }
    .evacuating{
        border-color: #AB3879;
        border-width: 2px;
    }
    .danger{
        border-color: #BD3364;
        border-width: 2px;
    }
    .submit{
        background-color: #4056F4;
        border-width: 2px;
        border: #2c3db8 solid;
        color: white;
        border-radius: 5px;
        padding: 1px 5px;
        width: 125px;
        height: 40px;
    }
    .searchBox{
        height: 40px;
        width: 200px;
    }
    .seach-users-button {
        background-color: #4056F4;
        padding-right:1px;
        padding-left:1px;
        color: white;
        height: 40px;
        width: 80px;
    }
    .shelterInput{
        /* height: 30px; */
        width: 80%;
    }
    .intro{
        font-weight:bold;
        font-size: 25px;
        margin-bottom: 25px;
    }
 }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 360px) {
    .catchphrase{
        opacity: 0;
    }

    #map{
        height:80%;
    }

    .check-in-button, .find-shelter-button,.shelter-reg-button, .map-page-button{
        width: 85px;
    }
}
 
 
  @media only screen and (min-width: 600px) {
    .catchphrase{
        font-style:italic;
        color: black !important;
        font-size:17px;
        font-weight:100;
        display: inline-block;
    }
    *{
        padding:0;
        margin:0;
    }
    body{
        font-family: 'Roboto', sans-serif;
    }
    .header {
        padding:1%;
        margin: 1%;
    }
    .header-background{
        padding-top:18px;
        background-image: linear-gradient(to right, #CE2D4F, #8742A2);
        color:white;
        height: 50px;
        font-size: 1.3em;
    }
    .fire-img{
        height: 35px;
        width: 35px;
    }
    #map{
        position: absolute;
        bottom: 0;
        width:100%;
        height:85%;
    }
    h2 {
        font-weight: normal !important;
    }
    .check-in-button, .find-shelter-button,.shelter-reg-button, .map-page-button{
        background-color: #CE2D4F;
        color: white;
        padding: 1px 5px;
        margin: 1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        width: 160px;
        height: 45px;
    }
    .check-in-button{
        background-color: #CE2D4F;
        border: #99203a solid;
    }
    .find-shelter-button{
        background-color: #BD3364;
        border: #992850 solid;
    }
    .shelter-reg-button{
        background-color: #AB3879;
        border: #8a2c61 solid;
    }
    .map-page-button {
        background-color: #8742A2;
        border: #5f2d73 solid;
    }
    .statusButtons{
        display:inline-block;
        width: 49.5%;
        border-radius:10px;
        padding: 10px;
        color: black;
        font-size:15px;
        background-color: white;
        margin-top:2px;
        margin-bottom:2px;
    }
    .safe{
        border-color: #4056F4;
        border-width: 2px;
    }
    .warning{
        border-color: #8742A2;
        border-width: 2px;
    }
    .evacuating{
        border-color: #AB3879;
        border-width: 2px;
    }
    .danger{
        border-color: #BD3364;
        border-width: 2px;
    }
    .submit{
        background-color: #4056F4;
        border-width: 2px;
        border: #2c3db8 solid;
        color: white;
        border-radius: 5px;
        padding: 1px 5px;
        width: 160px;
        height: 45px;
    }
    .searchBox{
        margin-top: 10px;
        height: 45px;
        width: 260px;
    }
    .seach-users-button {
        background-color: #4056F4;
        padding-right:1px;
        padding-left:1px;
        color: white;
        height: 45px;
        width: 80px;
    }
    .shelterInput{
        /* height: 40px; */
        width: 260px;
    }
 }
  /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #map{
        position: absolute;
        bottom: 0;
        width:100%;
        /* height:80%; */
    }
    .searchBox{
        margin-top: 13px;
        height: 45px;
        width: 260px;
    }
    .seach-users-button {
        background-color: #4056F4;
        padding-right:1px;
        padding-left:1px;
        color: white;
        height: 45px;
        width: 80px;
    }
 }
  /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .statusButtons{
        display:inline-block;
        width: 24%;
        border-radius:10px;
        padding: 10px;
        color: black;
        font-size:15px;
        background-color: white;
        margin-top:10px;
        margin-bottom:10px;
    }
    .searchBox{
        margin-top: 15px;
        height: 45px;
        width: 260px;
    }
    .seach-users-button {
        background-color: #4056F4;
        padding-right:1px;
        padding-left:1px;
        color: white;
        height: 45px;
        width: 80px;
    }
 }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 