/* Colors
CE2D4F : Red
BD3364 : Raspberry
AB3879 : Fuschia
8742A2 : Purple
4056F4 : Indigo
*/


*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding:1%;
    margin: 1%;
    display: flex;
}

.fire-img{
    height: 10%;
    width: 10%;
}

#map{
    position: absolute;
bottom: 0;
    width:100%;
    height:85%;
}

.check-in-button, .find-shelter-button,.shelter-reg-button, .map-page-button{
    background-color: #CE2D4F;
    border: none;
    color: white;
    padding: 3%;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.check-in-button{
    background-color: #CE2D4F;
}

.find-shelter-button{
    background-color: #BD3364;
}

.shelter-reg-button{
    background-color: #AB3879;
}

.map-page-button {
    background-color: #8742A2;
}

.buttonContainer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.statusButtons{
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
}

.statusBanner{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color:#CE2D4F;
    font-weight: bold;
    font-size: 18;
}

.userStatusRow{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    vertical-align: middle;
    align-self:center;
    line-height: 70px;
    height: 70px;
}

.userStatuses{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items:center;
    align-content: center;
    align-self: center;
}

.userStatusx{
  vertical-align: middle;
}

.userIcon{
  display: inline-block;
}

